
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: #8D8484;
    height: 22vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
footer{
    background: #BDBDBD;
    height: 22vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
main{
    height: 56vh;
    display: flex;
}
.sc1{
    width: 73vw;
    height: 19vh;
    background: #776969;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.sc2{
    width: 73vw;
    height: 19vh;
    background: #643030;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.sc3{
    width: 73vw;
    height: 18vh;
    background: #441818;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.sp1{
    width: 27vw;
    background: #937575;
    height: 28vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.sp2{
    width: 27vw;
    background: #644C4C;
    height: 28vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.hd{
    color: #000;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.content{
    color: #FFF;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ft{
    color: #000;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}