body {
    margin-left: 1vh;
    margin-right: 1vh;
    padding: 0;
    display: block;
}
#F1 {
    background-color: #FF5733;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#F2{
    background-color: #33FF57;
    height: 100%;
    width: 80vw;
    margin-right: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#F3 {
    background-color: #5733FF;
    height: 77vh;
    width: 20vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Start {
    margin-top: 1vh;
    display: flex;
    height: 77vh;
    width: 100%;
}
div{
    border-radius: 15px;
}